Author: ichitaso <willfeeltips+gsam@gmail.com>
Maintainer: BigBoss <bigboss@thebigboss.org>
Name: GoogleSearchActionMenu
Package: com.ichitaso.googleactionmenu
Depends: firmware (>= 4.0), actionmenu
Section: Addons (Action Menu)
Version: 1.0-1
Architecture: iphoneos-arm
Description: Search on Google via ActionMenu
Depiction: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=googlesearchactionmenuDp
Homepage: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=googlesearchactionmenuDp
Sponsor: thebigboss.org <http://thebigboss.org>
dev: ichitaso
Tag: purpose::extension, ios7support::1, ios8support::1
Icon: file:///Library/ActionMenu/Plugins/GoogleSearchActionMenu@2x.png
